<div class="profile-back" style="background-image: url('http://img13.deviantart.net/df7a/i/2015/127/6/0/luffy___one_piece_15th_anniversary_by_arariki-d8skfso.jpg');"></div>
<div class="ui container center aligned">

    <div class="ui two column doubling grid ">
        <div class="column">
            <div class="ui container center aligned">
                <div class="ui centered card">
                    <a class="image" href="#">
                        <img src="http://pre01.deviantart.net/f6b6/th/pre/i/2015/118/1/8/one_piece___monkey_d__luffy_by_sergiart-d8jgxe0.png">
                    </a>
                    <div class="content">
                        <a class="header" href="#">{{User?.Name}}</a>
                        <div class="meta">
                            <a>{{User?.Username}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <!--<div class="ui inverted segment">
                <div class="ui inverted relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>