<div class="container">
    <div class="ui one column stackable center aligned page grid">
        <div class="column six wide">
            <div class="ui inverted segment">
                <div class="ui inverted form">
                    <div class="one field">
                        <div class="field">
                            <label>Name</label>
                            <input placeholder="Name" [(ngModel)]="User.Name" type="text">
                        </div>

                        <div class="field">
                            <label>User Name</label>
                            <input placeholder="UserName" [(ngModel)]="User.Username" type="text">
                        </div>

                        <div class="field">
                            <label>Password</label>
                            <input placeholder="Password" [(ngModel)]="User.Password" type="password">
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" [(ngModel)]="User.HasAccess" tabindex="0" class="">
                            <label>I agree to the all the Terms and Conditions</label>
                        </div>
                    </div>
                    <div class="ui submit button" (click)="register()">Register</div>
                </div>
            </div>
        </div>
    </div>
</div>